*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    background-color: rgb(42, 0, 76);
    height: 6rem;
    line-height: 6rem;
    color: antiquewhite;
    font-size: 60px;
    margin-bottom: 1rem;
}

img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    padding: 0.5rem;
}

.choice :hover{
    cursor: pointer;
    background-color: black;
}

.my_choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    padding: 5rem;
    font-size: 45px;
}

.result_container{
    background-color: brown;
    border-radius: 1rem;
    font-size: 2.5rem;
    padding: 1.5rem;
    display: inline-block;
}